<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">S.E.M</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link label" href="#">Giải đấu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link label" href="#">Highlights</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link label" href="#">Quy tắc</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link label disabled">Phân tích</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link label" href="#">Về trang web</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-item dropdown ms-auto text-center">
                <div class="navbar__user d-flex" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <li>
                        <img src="/img/picme.jpg" alt="" class="user-avatar">
                    </li>
                    <li class="navbar__user dropdown gx-0 row">
                        <p class="user-name">Tho Le</p>
                        <p class="user-role">Admin</p>
                    </li>
                </div>
                <ul class="dropdown-menu  dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">
                            <span><i class="fas fa-user"></i></span>
                            Tài khoản
                        </a>
                    </li>
                    <li><a class="dropdown-item" href="#">
                            <span><i class="fas fa-cog"></i></span>
                            Cài đặt
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">
                            <span><i class="fas fa-sign-out-alt"></i></span>
                            Đăng xuất
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>