<div class="sidebar">
    <div class="logo-content">
        <div class="logo">
            <div class="logo_name"></div>
        </div>
    </div>
    <ul class="nav_list">
        <li class="sidebar-toggle">
            <i class="sidebar-icon fas fa-bars toggle-btn"></i>
        </li>
        <div class="sidebar-options">
            <li class="sidebar-tab active">
                <a href="#">
                    <i class="sidebar-icon fas fa-th-large"></i>
                    <span class="links-name label">Trang chủ</span>
                </a>
            </li>
            <li class="sidebar-tab">
                <a href="#">
                    <i class="sidebar-icon fas fa-users"></i>
                    <span class="links-name label">Các đội</span>
                </a>
            </li>
            <li class="sidebar-tab">
                <a href="#">
                    <i class="sidebar-icon fas fa-chart-bar"></i>
                    <span class="links-name label">Biểu đồ</span>
                </a>
            </li>
        </div>
        <div class="sidebar-sport-list">
            <li class="sport-tab active">
                <a href="#">
                    <i class="sidebar-icon sidebar-sport-icon far fa-futbol" class="sport-tab"></i>
                    <span class="links-name label">Bóng đá</span>
                </a>
            </li>
            <li class="sport-tab">
                <a href="#">
                    <i class="sidebar-icon sidebar-sport-icon fas fa-basketball-ball"></i>
                    <span class="links-name label">Bóng chuyền</span>
                </a>
            </li>
            <li class="sport-tab">
                <a href="#">
                    <i class="sidebar-icon sidebar-sport-icon fas fa-football-ball"></i>
                    <span class="links-name label">Bóng bầu dục</span>
                </a>
            </li>
            <li class="sport-tab">
                <a href="#">
                    <i class="sidebar-icon sidebar-sport-icon fas fa-baseball-ball"></i>
                    <span class="links-name label">Bóng chày</span>
                </a>
            </li>
        </div>
    </ul>
    <div class="line"></div>
</div>