<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sport Events Manager</title>
    
    <!-- Font Icon -->
    <link rel="stylesheet" href="/font/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/js/vendor/nouislider/nouislider.min.css">
    
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    
    {{{body}}}

    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/vendor/nouislider/nouislider.min.js"></script>
    <script src="/js/vendor/wnumb/wNumb.js"></script>
    <script src="/js/vendor/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/js/vendor/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="/js/register.js"></script>
</body>

</html>