<div class="main">

    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="/img/bg-03.jpg" alt="">
                <div class="signup-img-content">
                    <h2>Đăng ký lập đội ngay!</h2>
                    <p>Trong khi còn có thể</p>
                </div>
            </div>
            <div class="signup-form">
                <form action="/register" method="POST" class="register-form" id="register-form">
                    <div class="form-row row justify-content-center">
                        <div class="form-group">
                            <div class="form-input">
                                <label for="name" class="required">Họ và tên</label>
                                <input type="text" name="name" id="name" />
                            </div>
<!--                            <div class="form-input">-->
<!--                                <label for="username" class="required">Tên đăng nhập</label>-->
<!--                                <input type="text" name="username" id="username" />-->
<!--                            </div>-->
                            <div class="form-input">
                                <label for="email" class="required">Email</label>
                                <input type="text" name="email" id="email" />
                                {{#if registerFailed}}
                                    <h4 class="text-danger" style="font-size: 12px; font-style: italic">Email đã tồn tại</h4>
                                {{/if}}
                            </div>
                            <div class="form-input">
                                <label for="password" class="required">Mật khẩu</label>
                                <input type="password" name="password" id="password" />
                            </div>
                            <div class="form-input">
                                <label for="phone_number" class="required">Số điện thoại</label>
                                <input type="text" name="phone_number" id="phone_number" />
                            </div>
                        </div>
                    </div>
                    <div class="form-submit row justify-content-center">
                        <input type="submit" value="Đăng ký" class="submit" id="submit"
                            name="submit" />
                        <!-- <input type="submit" value="Reset" class="submit" id="reset" name="reset" /> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

{{#section 'script'}}
    <script>
        
    </script>
{{/section}}