<!-- Result -->
<div class="container result-container">
    <div class="filter-tag d-flex flex-wrap align-items-center">
        <p class="label">Tìm kiếm trận đấu</p>

        <div class="search-bar">
            <input class="form-control search-box" type="search" placeholder="Tìm kiếm..." aria-label="Search">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </div>
        {{!-- <div class="filter-tag d-flex flex-grow-1">
            <p>Lọc: </p>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Ngày
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Thủ môn</a></li>
                    <li><a class="dropdown-item" href="#">Hậu vệ</a></li>
                    <li><a class="dropdown-item" href="#">Tiền vệ</a></li>
                    <li><a class="dropdown-item" href="#">Tiền đạo</a></li>
                </ul>
            </div>
        </div> --}}
    </div>
    <!-- /Filter bar -->

    <div>
        <div class="row g-3">
            {{#each teamArr}}
            <div class="col-xl-6 col-md-12">
                <div class="result-tab d-flex">
                    <div class="result-tab__teams flex-grow-1">
                        <p>Trận bán kết</p>
                        <div class="result-tab__team d-flex">
                            <div class="result-tab__team-name mb-3 d-flex flex-grow-1">
                                <img src="/img/logo1.png" alt="">
                                <p>Đội {{this.team1.TenDB}}</p>
                            </div>
                            <span class="result-tab__team-score team-score-top win">{{this.team1.Diem}}</span>
                        </div>
                        <div class="result-tab__team d-flex">
                            <div class="result-tab__team-name mb-3 d-flex flex-grow-1">
                                <img src="/img/logo2.png" alt="">
                                <p>Đội {{this.team2.TenDB}}</p>
                            </div>
                            <span class="result-tab__team-score team-score-bottom win">{{this.team2.Diem}}</span>
                        </div>
                    </div>
                    <span class="devide-line"></span>
                    <div class="result-tab__record">
                        <p class="mb-0">Kết thúc ngày</p>
                        <p>12/12/2020</p>
                        <div class="result-tab__record-video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/x2H4RBnl3BI"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- /Result -->