<!-- Tourmanents -->
<div class="container-fluid g-5">
    <!-- Filter bar -->
    <div class="filter-tag d-flex flex-wrap align-items-baseline">
        <p class="label">Tìm kiếm giải đấu</p>

        <div class="search-bar">
            <input class="form-control search-box" type="search" placeholder="Tìm kiếm..." aria-label="Search">
            <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </div>
        <div class="filter-tag d-flex align-items-baseline">
            <p>Lọc: </p>
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Vị trí
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#">Thủ môn</a></li>
                    <li><a class="dropdown-item" href="#">Hậu vệ</a></li>
                    <li><a class="dropdown-item" href="#">Tiền vệ</a></li>
                    <li><a class="dropdown-item" href="#">Tiền đạo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <h2 class="tournament-title mb-5">GIẢI ĐẤU ĐANG DIỄN RA</h2>
    <!-- /Filter bar -->
    <div class="row">
        <div class="col-xl-3">
            <p class="label edu-stage-title">Cấp bậc giáo dục</>
            <div class="edu-stage">
                <div class="edu-tag mb-3">
                    <!-- <span class="bg-deco"></span> -->
                    <div class="edu-tag__content">
                        <!-- <img src="" alt="" class="banner-img"> -->
                        <p class="label edu-tag__title">TIỂU HỌC</p>
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div class="edu-stage">
                <div class="edu-tag mb-3">
                    <!-- <span class="bg-deco"></span> -->
                    <div class="edu-tag__content">
                        <!-- <img src="" alt="" class="banner-img"> -->
                        <p class="label edu-tag__title">THCS</p>
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div class="edu-stage">
                <div class="edu-tag mb-3">
                    <!-- <span class="bg-deco"></span> -->
                    <div class="edu-tag__content">
                        <!-- <img src="" alt="" class="banner-img"> -->
                        <p class="label edu-tag__title">THPT</p>
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div class="edu-stage">
                <div class="edu-tag mb-3">
                    <!-- <span class="bg-deco"></span> -->
                    <div class="edu-tag__content">
                        <!-- <img src="" alt="" class="banner-img"> -->
                        <p class="label edu-tag__title">ĐẠI HỌC</p>
                        <a href=""></a>
                    </div>
                </div>
            </div>
            <div class="edu-stage">
                <div class="edu-tag mb-3">
                    <!-- <span class="bg-deco"></span> -->
                    <div class="edu-tag__content">
                        <!-- <img src="" alt="" class="banner-img"> -->
                        <p class="label edu-tag__title">KHÁC</p>
                        <a href=""></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tournaments -->
        <div class="col-xl-9">
            <div class="container-fluid">
                <div class="row">
                    <p class="label">Giải đấu bậc Tiểu học</p>
                    <div class="col-xl-4">
                        <div class="tournament-tag mb-3 d-flex flex-column flex-align-between">
                            <div class="flex-grow-1 tournament-tag__content">
                                <p class="label tournament-tag__title">Giải đấu A</p>
                                <p class="title tournament-tag__startdate">Ngày bắt đầu: 15/05/2021</p>
                                <p class="title tournament-tag__startdate">Ngày kết thúc: 25/05/2021</p>
                                <p class="title tournament-tag__startdate">Ngày hiện tại: 20/05/2021</p>
                            </div>
                            <p class="label">Tiến độ giải đấu</p>
                            <div class="progress">
                                <div class="tournament-tag__progress progress-bar bg-secondary" style="width:70%"></div>
                            </div>
                            <div class="mt-3"><a href="">
                                    <p class="text-end"> Đi đến giải đấu</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="tournament-tag mb-3 d-flex flex-column flex-align-between">
                            <div class="flex-grow-1 tournament-tag__content">
                                <p class="label tournament-tag__title">Giải đấu A</p>
                                <p class="title tournament-tag__startdate">Ngày bắt đầu: 15/05/2021</p>
                                <p class="title tournament-tag__startdate">Ngày kết thúc: 25/05/2021</p>
                                <p class="title tournament-tag__startdate">Ngày hiện tại: 20/05/2021</p>
                            </div>
                            <p class="label">Tiến độ giải đấu</p>
                            <div class="progress">
                                <div class="tournament-tag__progress progress-bar bg-secondary" style="width:70%"></div>
                            </div>
                            <div class="mt-3"><a href="">
                                    <p class="text-end"> Đi đến giải đấu</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="tournament-tag mb-3 d-flex flex-column flex-align-between">
                            <div class="flex-grow-1 tournament-tag__content">
                                <p class="label tournament-tag__title">Giải đấu A</p>
                                <p class="title tournament-tag__startdate">Ngày bắt đầu: 15/05/2021</p>
                                <p class="title tournament-tag__startdate">Ngày kết thúc: 25/05/2021</p>
                                <p class="title tournament-tag__startdate">Ngày hiện tại: 20/05/2021</p>
                            </div>
                            <p class="label">Tiến độ giải đấu</p>
                            <div class="progress">
                                <div class="tournament-tag__progress progress-bar bg-secondary" style="width:70%"></div>
                            </div>
                            <div class="mt-3"><a href="">
                                    <p class="text-end"> Đi đến giải đấu</p>
                                </a></div>
                        </div>
                    </div>
                    <div class="col-xl-4">
                        <div class="tournament-tag mb-3 d-flex flex-column flex-align-between">
                            <div class="flex-grow-1 tournament-tag__content">
                                <p class="label tournament-tag__title">Giải đấu A</p>
                                <p class="title tournament-tag__startdate">Ngày bắt đầu: 15/05/2021</p>
                                <p class="title tournament-tag__startdate">Ngày kết thúc: 25/05/2021</p>
                                <p class="title tournament-tag__startdate">Ngày hiện tại: 20/05/2021</p>
                            </div>
                            <p class="label">Tiến độ giải đấu</p>
                            <div class="progress">
                                <div class="tournament-tag__progress progress-bar bg-secondary" style="width:70%"></div>
                            </div>
                            <div class="mt-3"><a href="">
                                    <p class="text-end"> Đi đến giải đấu</p>
                                </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-xl-9">
                    <div class="col-xl-3">
                        <div class="tournament-card">
                            <p class="label">Giải đấu bậc Tiểu học</p>
                        </div>
                        <div class="tournament-tag mb-3">
                            <div class="tournament-tag__content">
                                <img src="https://www.tienganh123.com/images/tournament/tournament-1.jpg" alt=""
                                    class="banner-img">
                                <p class="label tournament-tag__title">Giải đấu bậc Tiểu học</p>
                                <a href=""></a>
                            </div>
                        </div>
                        
                    </div>
                </div> -->
        <!-- /Tournaments -->
    </div>
</div>