.result-tab {
    margin-bottom: 25px;
    padding: 16px;
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    height: 150px;
}

.result-tab__team img {
    width: 100px;
    height: 100px;
}